[submodule "deps/vulkan-zig"]
	path = deps/vulkan-zig
	url = https://github.com/Snektron/vulkan-zig.git
[submodule "deps/zig-ecs"]
	path = deps/zig-ecs
	url = https://github.com/prime31/zig-ecs.git
[submodule "deps/mach"]
	path = deps/mach
	url = git@github.com:Avokadoen/mach.git
	branch = ext-glfw
[submodule "deps/zlm"]
	path = deps/zlm
	url = https://github.com/ziglibs/zlm.git
