[submodule "deps/vulkan-zig"]
	path = deps/vulkan-zig
	url = https://github.com/Avokadoen/vulkan-zig.git
[submodule "deps/mach-glfw"]
	path = deps/mach-glfw
	url = https://github.com/hexops/mach-glfw.git
[submodule "deps/zalgebra"]
	path = deps/zalgebra
	url = https://github.com/kooparse/zalgebra.git
[submodule "deps/miniaudio/c"]
	path = deps/miniaudio/c
	url = https://github.com/mackron/miniaudio
[submodule "deps/Zig-Tracy"]
	path = deps/Zig-Tracy
	url = https://github.com/Avokadoen/Zig-Tracy.git
[submodule "deps/zig-gamekit"]
	path = deps/zig-gamekit
	url = https://github.com/Avokadoen/zig-gamekit.git
